<p style="font-size: 80%;">
    <a href="/">« Profile Pic(ture) As A Service</a>
</p>



<h1>Design Your Own Doge Shiba Inu (24×24) Wizard</h1>

<p>Yes, you can!
Generate your own originals that you
own 100% forever.
</p>



<form action="/generate_doge" method="get" id="form1">


<%= radio_options( DOGE_ARCHETYPE,
                   name: 't',
                   legend: 'Select a doge shiba inu base (archetype)' ) %>

Options:

<%= radio_options( ['None']+DOGE_HAIR,
                   name: 'hair',
                   legend: 'Select hair' ) %>

<%= radio_options( ['None']+DOGE_HEADWEAR,
                   name: 'headwear',
                   legend: 'Select headwear' ) %>


<%= radio_options( ['None']+DOGE_EYEWEAR,
                   name: 'eyewear',
                   legend: 'Select eyewear' ) %>

<div>
   <button type="submit" form="form1" value="Submit"
      style="font-size: 400%; color: white; background-color: blue;">Generate Profile Pic(ture) in .PNG Format</button>
</div>



Or

<fieldset>
    <legend>Type (more) attribute description / specification:</legend>

<div>
<input type="text" id="attributes" name="attributes"
       minlength="0" maxlength="200" size="80"
       style="font-size: 200%;"
       placeholder="Attribute 1, Attribute 2, Attribute 3, ...">

<p>
  Examples:
</p>
  <ul>
    <li>Crazy Hair, 3D Glasses</li>
    <li>Headband</li>
  </ul>

</div>
   </fieldset>


<%= erb :'shared/_more_options' %>

</form>
