<p style="font-size: 80%;">
    <a href="/">« Profile Pic(ture) As A Service</a>
</p>



<h1>Design Your Own Doge Shiba Inu (24×24) Wizard</h1>

<p>Yes, you can!
Generate your own originals that you
own 100% forever.
</p>



<form action="/generate_doge" method="get" id="form1">


<%= radio_options_w_sprites( DOGE_ARCHETYPE,
                   name: 't',
                   legend: 'Select a doge shiba inu base (archetype)' ) %>

Options:

<%= radio_options_w_sprites( ['None']+DOGE_HAIR,
                   name: 'hair',
                   legend: 'Select hair' ) %>

<%= radio_options_w_sprites( ['None']+DOGE_HEADWEAR,
                   name: 'headwear',
                   legend: 'Select headwear' ) %>


<%= radio_options_w_sprites( ['None']+DOGE_EYEWEAR,
                   name: 'eyewear',
                   legend: 'Select eyewear' ) %>

<div>
   <button type="submit" form="form1" value="Submit"
      style="font-size: 400%; color: white; background-color: blue;">Generate Profile Pic(ture) in .PNG Format</button>
</div>


<%= erb :'shared/_more_options' %>

</form>


<script>
var sheet = Spritesheet.read( 'doge-24x24.png',
`0, classic
1, dark
2, zombie
3, alien
4, crazyhair
5, beanie
6, cap
7, capforward
8, cowboyhat
9, fedora
10, knittedcap
11, tophat
12, bandana
13, headband
14, tiara
15, 3dglasses
16, bigshades
17, classicshades
18, regularshades
19, smallshades
20, nerdglasses
21, eyepatch` );
sheet.draw();
</script>
