
<h1>Marcs (24×24) - Profile Pic(ture) As Service</h1>

<p>Yes, you can!
Generate your own originals that you
own 100% forever.
</p>



<form action="/generate_marcs" method="get" id="form1">


<%= radio_options( MARC_ARCHETYPE,
                   name: 't',
                   legend: 'Select a marc base (archetype)' ) %>

Options:


<%= radio_options( ['None']+MARC_EYES,
                   name: 'eyes',
                   legend: 'Select eyes (extras)' ) %>

<%= radio_options( ['None']+MARC_FACE,
                   name: 'face',
                   legend: 'Select face (extras)' ) %>

<%= radio_options( ['None']+MARC_BEARD,
                   name: 'beard',
                   legend: 'Select beard' ) %>

<%= radio_options( ['None']+MARC_HAIR,
                   name: 'hair',
                   legend: 'Select hair' ) %>

<%= radio_options( ['None']+MARC_HEADWEAR,
                   name: 'headwear',
                   legend: 'Select headwear' ) %>


<%= radio_options( ['None']+MARC_EYEWEAR,
                   name: 'eyewear',
                   legend: 'Select eyewear' ) %>

<%= radio_options( ['None']+MARC_MOUTH_PROP,
                   name: 'mouth',
                   legend: 'Select mouth prop' ) %>


<div>
   <button type="submit" form="form1" value="Submit"
      style="font-size: 400%; color: white; background-color: blue;">Generate Profile Pic(ture) in .PNG Format</button>
</div>



Or

<fieldset>
    <legend>Type (more) attribute description / specification:</legend>

<div>
<input type="text" id="attributes" name="attributes"
       minlength="0" maxlength="200" size="80"
       style="font-size: 200%;"
       placeholder="Attribute 1, Attribute 2, Attribute 3, ...">

<p>
  Examples:
</p>
  <ul>
    <li>Normal Beard,  Big Shades</li>
    <li>Crazy Hair, 3D Glasses</li>
    <li>Headband</li>
  </ul>

</div>
   </fieldset>


<%= erb :'shared/_more_options' %>

</form>
